<head>
    <title>6chan</title>
    <link rel="stylesheet" href="../static/6chan_css.css"> 
</head>
<body class="website_body">
    <header>
        <div class="homepage_header">
            <img src="../static/6chan_logo.png" alt="6chan's logo" id="logo">
            <div id="logo_text"> 6chan </div>
        </div>
        <div class="welcome_message">
            <div id="title_bar">
                What is 6chan?
            </div>
            <div id="description">
                6chan used to be a website where everybody could post a message.
                New messages can't be posted anymore, but the last messages can still be found here.
                This used to be a big community with many different boards, but due to
                some certain users it got shot down. When we got the word that we had to 
                take the site down, we decided that we let users post some final goodbyes.
                
            </div>

        </div>
    </header>
    <div class="message_box">
        <div class="message">
            <div class="message_info">
                Posted by: Akira at 26-8-2005
            </div>
            <div class="message_content">
                こんにちは世界
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: pepe at 26-8-2005
            </div>
            <div class="message_content">
                <img src="../static/pepe.png" id="picture">
                This is so sad
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Boris at 26-8-2005
            </div>
            <div class="message_content">
                выпей водки
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: shart at 26-8-2005
            </div>
            <div class="message_content">
                not gonna miss this stupid hell hole
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: you at 26-8-2005
            </div>
            <div class="message_content">
                <img src="../static/NPC_wojak_meme.jpg" id="picture">
                <div id="redtext">
                >be you <br>
                >use 6chan <br>
                >pic related <br>
                </div>
                you should really use 4chan

            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Anonymous at 26-8-2005
            </div>
            <div class="message_content">
                What is this stuff? Messages or something?
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Senpai at 26-8-2005
            </div>
            <div class="message_content">
                あなたが探しているものではありません
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Anonymous at 26-8-2005
            </div>
            <div class="message_content">
                Why are there so many weird messages here
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: HackerMan at 26-8-2005
            </div>
            <div class="message_content">
                01000010 01110010 01111000 00100000 01110111 01101011 01110010 01111000 01101010 01101011 01110111 00100000 01110111 01101011 01101100 01110110 00100000 01111010 01100100 01110110 00100000 01101100 01110111 00100000 01101011 01111000 01101011 00111111 00001010
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Anonymous at 26-8-2005
            </div>
            <div class="message_content">
                You should really play the CTFs over at capture-the-flag.local 
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by:  Anonymous at 26-8-2005
            </div>
            <div class="message_content">
                goodbye 6chan
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Peter Beter at 26-8-2005
            </div>
            <div class="message_content">
                Wat jammer dat dit niet meer bestaat zeg
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: My leg at 26-8-2005
            </div>
            <div class="message_content">
                <img src="../static/leg.png" id="picture">
                My leg
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Anonymous at 26-8-2005
            </div>
            <div class="message_content">
                Haha learn to red text noob
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Anonymous at 26-8-2005
            </div>
            <div class="message_content">
                >be me
                >browse 6chan
                >see its closing
                >be sad
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Henkie at 26-8-2005
            </div>
            <div class="message_content">
                Hahahahahaha ja die voel ik
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Tim at 26-8-2005
            </div>
            <div class="message_content">
                Wat moet ik hier plaatsen
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: author at 26-8-2005
            </div>
            <div class="message_content">
                This isnt as fun as i thought it would be
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: hackmeplease at 26-8-2005
            </div>
            <div class="message_content">
                hack me if you can<br>
                127.0.0.1
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: cat at 26-8-2005
            </div>
            <div class="message_content">
                meow meow meow 
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Heinrich at 26-8-2005
            </div>
            <div class="message_content">
                tschüss mein freunden
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Luigi at 26-8-2005
            </div>
            <div class="message_content">
                Ciao, sono Luigi, sono un famoso idraulico italiano
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Xi Jinping at 26-8-2005
            </div>
            <div class="message_content">
                如果你問我，中國沒有互聯網
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Captian Phillips from Somalia at 26-8-2005
            </div>
            <div class="message_content">
                Bal i eega, hadda waxaan ahay kabtanka
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: futureteller  at 26-8-2005
            </div>
            <div class="message_content">
                Corona virus is coming soon
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: EliteSpeaker at 26-8-2005
            </div>
            <div class="message_content">
                0N1Y r341 H4CK3r5 C4N r34D 7H15 7H15 15 50 D1FF1CU17
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by:  at 26-8-2005
            </div>
            <div class="message_content">
                
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Mao Zedong at 26-8-2005
            </div>
            <div class="message_content">
                天上的太陽是紅色的我們心中有太陽毛澤東他帶領我們走向解脫群眾站出來當主人呀呀呀呀呀呀呀呀呀呀群眾站出來當主人
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: henk  at 26-8-2005
            </div>
            <div class="message_content">
                dit duurt wel heel erg lang om te maken hoor 
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Kim Jong-un  at 26-8-2005
            </div>
            <div class="message_content">
                적들이 핵폭탄으로 우리를 협박할 수 있었던 시대는 영원히 지났습니다.
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Spongebob  at 26-8-2005
            </div>
            <div class="message_content">
                <div id="redtext">
                    >work at fastfood chain <br>
                    >make crab patty <br>
                    >realize boss is a crab  <br>
                    </div>
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: pepe at 26-8-2005
            </div>
            <div class="message_content">
                <img src="../static/pepe.png" id="picture">
                <img src="../static/pepe.png" id="picture">
                <img src="../static/pepe.png" id="picture">

            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Marcus Junius Brutus at 26-8-2005
            </div>
            <div class="message_content">
                Gratias ago pro tua honestate. Nunc demum secretum tuum novi.
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Juluis Caesar at 25-8-2005
            </div>
            <div class="message_content">
                Lfzijt yj mnh jxxj, szsh ijrzr xjhwjyzr rjzr wjajqfwj utxxzr. ij kqfl nx G3xy-h1um3w
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Marcus Junius Brutus at 25-8-2005
            </div>
            <div class="message_content">              
                Caesar adsum, habesne singularem nuntium ad me?
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Juluis Caesar at 24-8-2005
            </div>
            <div class="message_content"> 
            Brutus, ibi es? Aliquam sit amet quam hic loquor. Nemo nos hic invenire potest.
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Vlad at 24-8-2005
            </div>
            <div class="message_content">
                Ха-ха, спасибо мне, ты платишь намного больше за все
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Novak Đoković  at 24-8-2005
            </div>
            <div class="message_content">
            Ја стварно волим тенис, да ли га волиш и ти?
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Paul at 23-8-2005
            </div>
            <div class="message_content">
                Yusuf is weer eens naar Turkije
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Uri at 23-8-2005
            </div>
            <div class="message_content">
                עפּעס ניט קאָנטראָווערסיאַל
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Shinzo Abe at 23-8-2005
            </div>
            <div class="message_content">
                日本に来るにはアニメの観光客が必要です
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Harry at 23-8-2005
            </div>
            <div class="message_content">
                Kan je toch zien Eric.
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Eric at 22-8-2005
            </div>
            <div class="message_content">
                Haha hoi Harry, jij ook hier
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Harry at 22-8-2005
            </div>
            <div class="message_content">
                Hoi ik ben Harry, ik ben een Nederlander
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Quinten at 22-8-2005
            </div>
            <div class="message_content">
                Dit was echt heel vervelend om te maken zeg zo de knetter
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Ananada at 21-8-2005
            </div>
            <div class="message_content">  
            “เพื่อนสำหรับมื้ออาหารนั้นหาง่าย เพื่อนจนวาระสุดท้ายนั้นหาได้ยากยิ่ง
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Emmanuel Macron at 21-8-2005
            </div>
            <div class="message_content">
                Nous avons la meilleure langue du monde et ne sommes pas du tout ennuyeux

            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Merkel at 21-8-2005
            </div>
            <div class="message_content">
                Wir schaffen das
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Mustafa Kemal Atatürk at 21-8-2005
            </div>
            <div class="message_content">
                Dünyada gördüğümüz her şey kadınların yaratıcı eseridir
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Bhai Gurdas at 20-8-2005
            </div>
            <div class="message_content">
                ਮਾਤਾ-ਪਿਤਾ ਦਾ ਖੰਡਨ ਕਰਨਾ, ਜੰਗਲਾਂ ਵਿਚ ਸਿਮਰਨ ਕਰਨਾ ਵੀਰਾਨ ਥਾਵਾਂ 'ਤੇ ਭਟਕਣ ਦੇ ਸਮਾਨ ਹੈ
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: HTB at 19-8-2005
            </div>
            <div class="message_content">
                If you want to learn hacking visit hackthebox.com
            </div>

        </div>
        <div class="message">
            <div class="message_info">
                Posted by: Roel Grit at 18-8-2005
            </div>
            <div class="message_content">
                <img src="../static/roel.jpg" id="picture">
                Koop mijn boek alsjeblieft
            </div>

        </div>        
    </div>
    <footer class="thanks">
        <br> you for visiting 6chan
    </footer>
</body>