<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lethal Injection</title>
    </head>
    <body>
        <main>
            <h3>{{text}}</h3>

            <div class="container-injection">
                <form class="form-injection" method="POST">
                    <div class="input-container-injection">
                        <input type="text" name="username" placeholder="Username">
                        <input type="password" name="password" placeholder="Password">
                        <input type="submit" placeholder="Submit">
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>