<!DOCTYPE html>
<html>
<head>
	<title>GereedschapShop </title>
</head>
<body>
	<header>
		<h1>
			GereedschapShop
		</h1>
		<h4>
			Welkom op de GereedschapShop, zoek hier je nieuwe gereedschap
		</h4>
		<hr size="" width="100%" color="black">  
	</header>
	<form method="post">
		<label for="search">Zoek naar:</label>
		<input type="text" name="search" placeholder="Hamers, zagen ...">
		
		<input type="submit" name="search" value="zoeken">
		{{text}}
	</form>
	<div>
		<table>
			<tr>
				{% for header in headings %}
				<th>{{ header }}</th>
				{% endfor %}
			</tr>
			{% for row in result %}
			<tr>
				{% for cell in row %}
				<td>{{ cell }}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
	</div>
	
</body>
</html>