.website_body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #Fee6c8;
    padding-top: 5px;
    margin: 0%;
}

.homepage_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

#logo{
    width: 75px;
    height: 75px;
}

#logo_text{
    font-family:Tahoma;
    font-size: 42px;
    font-weight: bold;
    color: #800000;
}

.welcome_message{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 25px;


}

#title_bar{
    background-color: #800000;
    height: 30px;
    width: 600px;
    text-align: center;
    font-family:Tahoma;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;

}

#description{
    background-color: #F0E0D6;
    width: 600px;
    font-family:Tahoma;
    font-size: 16px;
    font-weight:normal;
    text-align: center;
}

.message_box{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 25px;
    row-gap: 20px;
    
}

.message{
    column-gap: 20px;
    padding: 0px;
    background-color: #F0E0D6;
    width: 40%;
}

.message_info{
    display: flex;
    font-family:Tahoma;
    font-size: 16px;
    font-weight:bold;
    text-align: center;
    color: #4E8D5C;
    width: 100%;
}

.message_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family:Tahoma;
    font-size: 16px;
    padding-top: 2px;

}

#picture{
    width: 50px;
    height: 50px;
    padding: 5px;
}

#redtext{
    color: #800000;
}

.thanks{
    padding: 25px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family:Tahoma;
    font-size: 16px;
    padding-top: 2px;
}