<!-- buttons dont work, this file serves as a template for the navbar / main website look -->
<head>
    <link rel="stylesheet" href="{{ url_for ('static', filename='dark_theme.css')}}"> 
</head>

<body class="body">
<header>
    <div class="navbar">
      <a href="{{url_for('welcome')}}"><img id="logo" src="{{ url_for('static', filename='logo_dark_theme.png')}}"></a>
        <div class="buttons">
            <a href="{{url_for('challenges')}}" id="navbar_button">Challenges</a>
            <a href="{{url_for('flags')}}" id="navbar_button">Flags</a>
            <a href="{{url_for('uitloggen')}}" id="navbar_button">Uitloggen</a>
            <!-- <a href="" id="navbar_button">template</a> -->  
            <a href="{{url_for('profile')}}"><img id="profile_picture" src="{{ url_for('static', filename='profile_pic_placeholder.png')}}"></a>
        </div>    
    </div>
</header>

<div class="container_chal">
  <div class="challenges_chal">
    <div class="item-header_chal">
      Challenges
    </div>
    <button class="collapsible_chal">
      6chan<br> 
      Catagorie: Web, Crypto <br> 
      Moeilijkheidsgraad: Makkelijk<br>
      Flags {{count[0]}}/1 
    </button>
    <div class="content_chal" id="challenge">
      <div id="beschrijving_chal">
        Je hebt een website gevonden waar iedereen een bericht kan plaatsen. Sommige berichten zijn in het Nederlands geschreven en sommige zijn in een andere taal geschreven. Maar van een aantal van deze berichten kan je niet bepalen in welke taal ze geschreven zijn… Kan jij erachter komen wat er gezegd wordt? Deze CTF heeft als doel om de speler bij te brengen hoe een simpele CTF in elkaar steekt en hoe het platform werkt.
      </div>
      <div class="knoppen">
        <a href="/ctf1" id="choice-buttons" target="_blank">Play</a>
        <a href="/hints1" id="choice-buttons">Hints</a>
      </div>
    </div>

    <button class="collapsible_chal">
      Lethal Injection<br> 
      Catagorie: Web, injection <br> 
      Moeilijkheidsgraad: Makkelijk<br>
      Flags {{count[1]}}/1  
    </button>
    <div class="content_chal" id="challenge">
      <div id="beschrijving_chal">
        Je bent op een website gekomen die er niet veilig uitziet en bent benieuwd of er een soort beveiliging op zit. Er is alleen een login pagina te zien en verder geen andere informatie. In deze challenge kun je de uiterste basis van een SQL injectie oefenen en leren te begrijpen.
      </div>
      <div class="knoppen">
        <a href="/ctf2" id="choice-buttons" target="_blank">Play</a>
        <a href="/hints2" id="choice-buttons">Hints</a>
      </div>
    </div>

    <button class="collapsible_chal">
      Sssssh, be quiet<br> 
      Catagorie: Configuration Failures <br> 
      Moeilijkheidsgraad: Medium<br>
      Flags {{count[3]}}/2  
    </button>
    <div class="content_chal" id="challenge">
      <div id="beschrijving_chal">
        Iemand heeft je een bericht doorgestuurd: <br>

        Hey Hydra, <br>
        you really need to change your user password on the machine running your website, it would be super easy to crack! And maybe change your username to something other than your name<br>
        -IT Department <br>
        Kan jij het wachtwoord achterhalen? (lever het wachtwoord in als de eerste flag in dit formaat: flag{“wachtwoord”})<br>
        Kan jij met dit wachtwoord het geheime tekst bestand vinden dat de flag bevat?

      </div>
      <div class="knoppen">
        <a href="/ctf4" id="choice-buttons" target="_blank">Play</a>
        <a href="/hints4" id="choice-buttons">Hints</a>
      </div>
    </div>

    <button class="collapsible_chal">
      GereedschapShop<br> 
      Catagorie: Injection <br> 
      Moeilijkheidsgraad: Moeilijk<br>
      Flags {{count[2]}}/1  
    </button>
    <div class="content_chal" id="challenge">
      <div id="beschrijving_chal">
        Je hebt online een gereedschap winkel gevonden om de gereedschap te kopen die je nodig hebt, maar het ziet er niet zo veilig uit. Er staan alleen een welkomst boodschap met  een zoekvak en verder geen andere informatie. Wat denk je te kunnen vinden via het zoekvak? Probeer maar!
        doel van deze CTF is om de haakvaardigheden van de speler te testen en om te laten zien hoe je met de juiste SQL-query's andere informatie kan extraheren dan de website-eigenaar wilde.
      </div>
      <div class="knoppen">
        <a href="/ctf3" id="choice-buttons" target="_blank">Play</a>
        <a href="/hints3" id="choice-buttons">Hints</a>
      </div>
    </div>

    <!-- <button class="collapsible_chal">
      6chan<br> 
      Catagorie: Web, Crypto <br> 
      Moeilijkheidsgraad: Makkelijk<br>
      Flags 0/1  
    </button>
    <div class="content_chal" id="challenge">
      <div id="beschrijving_chal">
        Beschrijving
      </div>
      <div class="knoppen">
        <a href="" id="choice-buttons">Play</a>
        <a href="" id="choice-buttons">Hints</a>
      </div>
    </div> -->
    <div class="knoppen">
      <a href="/stop" id="choice-buttons2">STOP ALLE CONTAINERS</a>
    </div>
  </div>

</div>


<script>
var coll = document.getElementsByClassName("collapsible_chal");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>

</body>
