<!-- buttons dont work, this file serves as a template for the navbar / main website look -->
<head>
    <link rel="stylesheet" href="{{ url_for ('static', filename='dark_theme.css')}}"> 
  </head>

<body class="body">
<header>
    <div class="navbar">
        <a href="{{url_for('welcome')}}"><img id="logo" src="{{ url_for('static', filename='logo_dark_theme.png')}}"></a>
        <div class="buttons">
            <a href="{{url_for('aanmelden')}}" id="navbar_button">Aanmelden</a>
            <a href="{{url_for('login')}}" id="navbar_button">Login</a>
            <!-- <a href="" id="navbar_button">Template button</a>  -->
        </div>    
    </div>
</header>

<div class="signup-page">
    <div class="singup_box">
        <div class="signup_header">
            <div id="signup_title">
                Heb je nog geen account? Meld je aan!
            </div>
        </div>
        <div class="signup_form">
            <form class="signup_forms" method="POST" style="color: white;">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                
                <label id="form_name" for="username">Gebruikersnaam </label>
                <input type="text" placeholder="Voer je gebruikersnaam in" name="gebruikersnaam" required pattern="[a-zA-Z0-9]{0,25}">
            
            
                <label id="form_name" for="wachtwoord">wachtwoord</label>
                <input type="password" placeholder="Voer je wachtwoord in" name="wachtwoord" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
            
            
                <label id="form_name" for="wachtwoord-herhaling">Herhaal je wachtwoord</label>
                <input type="password" placeholder="Herhaal je wachtwoord" name="wachtwoord-herhaling" required>
                <div style="font-size: small;">
                *Je gebruikersnaam mag alleen letters (groot en klein) en nummers bevatten. De maximale lengte is 25.
                *Je wachtwoord moet minimaal uit 8 karakters bestaan en uit min. 1x elk van het volgende: hoofd- en kleine-letter en nummer.
                </div>
                <button type="submit" id="signupbutton">Meld je aan</button>
            </form>
        </div>
    </div>
</div>

<div id="consent-popup" class="hidden">
    <button id="accept">Accepteren</button>
    <p>Door gebruik te maken van deze website ga je akkoord met de <a href="{{url_for('terms')}}" target="_blank">terms and conditions</a> en cookies</p>  
</div>

<script src="{{ url_for('static', filename='popup.js')}}"></script>

</body>
