<head>
    <link rel="stylesheet" href="{{ url_for ('static', filename='dark_theme.css')}}"> 
  </head>

<body class="body">
<header>
    <div class="navbar">
      <a href="{{url_for('welcome')}}"><img id="logo" src="{{ url_for('static', filename='logo_dark_theme.png')}}"></a>
        <div class="buttons">
            <a href="{{url_for('challenges')}}" id="navbar_button">Challenges</a>
            <a href="{{url_for('flags')}}" id="navbar_button">Flags</a>
            <a href="{{url_for('uitloggen')}}" id="navbar_button">Uitloggen</a>
            <!-- <a href="" id="navbar_button">template</a> -->  
            <a href="{{url_for('profile')}}"><img id="profile_picture" src="{{ url_for('static', filename='profile_pic_placeholder.png')}}"></a>
        </div>    
    </div>
</header>

<div class="hint"> 
  <div class="hint_page">
    <div id="hint_header">
      Hier kan je de hints voor challenge # vinden!. 
    </div>
    <button type="button" class="collapsible_hint">Hint 1</button>
      <div class="content_hint">
        Hier is de hint # van challenge
      </div>
    <!-- <button type="button" class="collapsible_hint">Hint 1</button>
      <div class="content_hint">
        Hier is de hint # van challenge
      </div> -->

  </div>

  <script>
    var coll = document.getElementsByClassName("collapsible_hint");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }
    </script>
</div>
</body>
