<!-- buttons dont work, this file serves as a template for the navbar / main website look -->
<head>
    <link rel="stylesheet" href="{{ url_for ('static', filename='dark_theme.css')}}">
    
</head>

<body class="body">
<header>
    <div class="navbar">
        <a href="{{url_for('welcome')}}"><img id="logo" src="{{ url_for('static', filename='logo_dark_theme.png')}}"></a>
        <div class="buttons">
            <a href="{{url_for('challenges')}}" id="navbar_button">Challenges</a>
            <a href="{{url_for('flags')}}" id="navbar_button">Flags</a>
            <a href="{{url_for('uitloggen')}}" id="navbar_button">Uitloggen</a>
            <!-- <a href="" id="navbar_button">template</a> -->  
            <a href="{{url_for('profile')}}"><img id="profile_picture" src="{{ url_for('static', filename='profile_pic_placeholder.png')}}"></a>
        </div>    
    </div>
</header>

<div id="consent-popup" class="hidden">
    <button id="accept">Accepteren</button>
    <p>Door gebruik te maken van deze website ga je akkoord met de <a href="{{url_for('terms')}}" target="_blank">terms and conditions</a> en cookies</p>  
</div>

<script src="{{ url_for('static', filename='popup.js')}}"></script>

</body>
